<html>
<head>
<title>Calculator</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div
				class="col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-sm-4 col-md-4 col-lg-4"
				style="margin-top: 10%;">
				<div class="panel panel-info">
					<div class="panel-heading">Calculator</div>
					<div class="panel-body">
						<form class="form-horizontal" role="form" method="post">
							<div class="form-group">
								<div class="col-sm-6 col-md-6 col-lg-6">
									<input type="number" step="any" class="form-control" name="num1"
										id="num1" placeholder="Number1">
								</div>
								<div class="col-sm-6 col-md-6 col-lg-6">
									<input type="number" step="any" class="form-control" name="num2"
										id="num2" placeholder="Number2">
								</div>
							</div>
							<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
								<button type="submit" class="btn " value="1" id="addition" formaction="/addition">Add</button>

								<button type="submit" class="btn " value="2" id="subtraction" formaction="/subtraction">Substract</button>

								<button type="submit" class="btn" value="3" id="multiplication" formaction="/multiplication">Multiply</button>

								<button type="submit" class="btn" value="4" id="division" formaction="/division">Divide</button>
							</div>
						</form>	
							

							
						
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>